[user]
    name = Ciaron Rider
    email = ciaron@ridernator.com
    signingkey = 215518DF87F2B7183DFB43D63F700E52BE4A79A8

[alias]
    ci = commit
    co = checkout
    br = branch
    st = status
    fe = fetch --prune
    gr = log --graph --oneline
    gra = log --graph --oneline --all
    dt = difftool
    dtc = difftool --cached

[commit]
    gpgsign = true

[diff]
    tool = meld

[difftool]
    prompt = false

[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE"

[merge]
    tool = meld

[mergetool "meld"]
    cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"
